{% extends "base.html" %}

{% block title %}Admin Login{% endblock %}

{% block body %}

<div class="centered-form">
    <h2 class="text-center mb-4">Admin Login</h2>
    <form method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Username(email)</label>
            <input id="username" type="email" class="form-control" name="Username" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" title="Please enter valid email" autofocus required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input id="password" type="password" class="form-control" name="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,12}" title="Password must be 8-12 characters long with atleast 1 num, and 1 uppercase and 1 lowercase alphabet." required>
            <input type="checkbox" class="form-check-input" id="showPassword" onclick="togglePassword()">
            <label class="form-check-label" for="showPassword">Show Password</label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <p class="mt-3 text-center">
        Go to user login? <a href="{{ url_for('auth_routes.user_login') }}" style="text-decoration: none;">Click here</a>
    </p>
</div>

<script>
    function togglePassword(){
        const passwordInput = document.getElementById('password');
        passwordInput.type = passwordInput.type === 'password' ? 'text' : 'password';
    }
</script>

{% endblock %}