{% extends "base_user_dashboard.html" %}

{% block title %}User Charts{% endblock %}

{% block header %}Summary Charts{% endblock %}

{% block content %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    {% if summary_data %}
        <div style="width: 50%">
            <div class="d-flex align-items-center gap-4" style="height: 400px;">
                <canvas id="timeChart" style="width: 100%; height: 100%;"></canvas>
                <canvas id="costChart" style="width: 100%; height: 100%;"></canvas>
            </div>
            <br>
            <br>
            <div style="height: 400px;">
                <canvas id="countChart" style="width: 100%; height: 100%;"></canvas>
            </div>
        </div>
    {% else %}
        <div class="text-center mb-4">
            <strong style="background-color: aliceblue;">Cant display charts as no previous Parking Sessions.</strong>
        </div>
    {% endif %}

    <script>
        const data = {{ summary_data | tojson }};
        const lotNames = data.map(i => i.lot_name);
        const time = data.map(i => (i.time / 3600).toFixed(1));
        const cost = data.map(i => i.cost);
        const count = data.map(i => i.count);

        new Chart(document.getElementById('timeChart'), {
            type: 'bar',
            data: {
                labels: lotNames,
                datasets: [
                    {
                        label: 'Time Spent',
                        data: time,
                        backgroundColor: '#90EE90'
                    }
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Parking Lots'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Time (hours)'
                        },
                        beginAtZero: true
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'Time Spent in each Parking Lot'
                    }
                }
            }
        });

        new Chart(document.getElementById('costChart'), {
            type: 'bar',
            data: {
                labels: lotNames,
                datasets: [
                    {
                        label: 'Cost',
                        data: cost,
                    }
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Parking Lots'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Cost(₹)'
                        },
                        beginAtZero: true
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'Cost Spent in each Parking Lot'
                    }
                }
            }
        });

        new Chart(document.getElementById('countChart'), {
            type: 'bar',
            data: {
                labels: lotNames,
                datasets: [
                    {
                        label: 'Count',
                        data: count,
                    }
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Parking Lots'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Number of Visits'
                        },
                        beginAtZero: true
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'Number of times visited each Parking Lot'
                    }
                }
            }
        });

    </script>

{% endblock %}
